/* close button style */
button.close {
    border: 0 none !important;
    background-color:rgba(0,0,0,0);
    color: black;
    font-size: 34px;
    height: 40px;
    line-height: 1;
    margin: 0px 1px;
    opacity: 0.5;
    width: 40px;
}
.tab-title {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
}