*{
	margin:0;
	padding:0;
}


/*-------------------------
	The menu
--------------------------*/

nav{
	display:block;
	background-color:#1054ac;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
}

nav a{
	display:inline-block;
	padding: 10px 30px;
	color:rgb(255, 255, 255) !important;
	font-weight:bold;
	font-size:12px;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	text-decoration:none !important;
	line-height:1;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav i{
	color: #ffffff
}

.b-sidebar,
.b-sidebar-backdrop {
  top: 70px;
  padding-bottom: 56px;
}

.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }

 .nav-bar-icon {
	color: #ffffff
 }