/* ↓↓↓ Bellow is SideBar TRA CỨU THÔNG TIN tab style ↓↓↓ */
#separator {
  background-color: #beb9b9;
  background-position: center;
  width: 100%;
  height: 1px;

  /* Prevent the browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-summary {
  color: #1054ac
}