.map-home {
	height: 900px; 
	width: 100vw;
}

.toggle-button {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    float: right;
    z-index: 2;
    background: #ffffff73;
    width: 3rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 1rem;
    padding-top: 10px;
    top: 3rem;
}

.toggle-menu {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    float: left;
    z-index: 2;
    background: white;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 1rem;
    padding-top: 10px;
    top: 3rem;
}

.result-tooltip {
    display: none;
}

.moving-tooltip{
    display: none;
}

.btn-hover:hover{
    color: red;
}


  .leaflet-draw-draw-OK_ICON{
    background-image: url("/static/tunnels/images/ok-btn.png") !important;
    background-size: 25px auto !important;
  }

  .leaflet-draw-draw-NOK_ICON{
    background-image: url("/static/tunnels/images/nok-btn.png") !important;
    background-size: 25px auto !important;

  }

